@font-face{font-family: "Roboto-Black"; src: url('../fonts/robotottf/Roboto-Black.ttf'); }
@font-face{font-family: "Roboto-BlackItalic"; src: url('../fonts/robotottf/Roboto-BlackItalic.ttf'); }
@font-face{font-family: "Roboto-Bold"; src: url('../fonts/robotottf/Roboto-Bold.ttf'); }
@font-face{font-family: "Roboto-BoldItalic"; src: url('../fonts/robotottf/Roboto-BoldItalic.ttf'); }
@font-face{font-family: "RobotoCondensed-Bold"; src: url('../fonts/robotottf/RobotoCondensed-Bold.ttf'); }
@font-face{font-family: "RobotoCondensed-BoldItalic"; src: url('../fonts/robotottf/RobotoCondensed-BoldItalic.ttf'); }
@font-face{font-family: "RobotoCondensed-Italic"; src: url('../fonts/robotottf/RobotoCondensed-Italic.ttf'); }
@font-face{font-family: "RobotoCondensed-Light"; src: url('../fonts/robotottf/RobotoCondensed-Light.ttf'); }
@font-face{font-family: "RobotoCondensed-LightItalic"; src: url('../fonts/robotottf/RobotoCondensed-LightItalic.ttf'); }
@font-face{font-family: "RobotoCondensed-Regular"; src: url('../fonts/robotottf/RobotoCondensed-Regular.ttf'); }
@font-face{font-family: "Roboto-Italic"; src: url('../fonts/robotottf/Roboto-Italic.ttf'); }
@font-face{font-family: "Roboto-Light"; src: url('../fonts/robotottf/Roboto-Light.ttf'); }
@font-face{font-family: "Roboto-LightItalic"; src: url('../fonts/robotottf/Roboto-LightItalic.ttf'); }
@font-face{font-family: "Roboto-Medium"; src: url('../fonts/robotottf/Roboto-Medium.ttf'); }
@font-face{font-family: "Roboto-MediumItalic"; src: url('../fonts/robotottf/Roboto-MediumItalic.ttf'); }
@font-face{font-family: "Roboto-Thin"; src: url('../fonts/robotottf/Roboto-Thin.ttf'); }
@font-face{font-family: "Roboto-ThinItalic"; src: url('../fonts/robotottf/Roboto-ThinItalic.ttf'); }