h1{
    font-size: 2em;
}
h6{
    padding: 1em;
}
a{
    color: black;
    text-decoration: none;
}

.pointable{
    cursor: pointer;
}

.above-current-section{
    background-color: #aaaaaa;
    border-radius: 0px 0px 10px 0px;
}

.pagination{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.pagination a{
    padding: 0;
    margin-left: 3px;
    color: #00508c;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: 9em;
}
.pagination a.active{
    background-color: white;
    border-radius: 5px 0px 0px 5px;
}
.pagination a:hover:not(active){
    background-color: whitesmoke;
    border-radius: 5px 0px 0px 5px;
}

/* the loading window before request is send */
.loading-window{ 
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(240,240,240);
    text-align: center;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    align-self: center;
}

/* text inside horizontal scroll menu buttons */
.menu-item p {
    display: block;
    padding-right: 0.2em;
    padding-left: 0.2em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* empty space inside horizontal scroll menu to make the menu to scroll all the way, otherwise it won't scroll to the end */
#item-filler{
    min-width: 2px;
    display: inline-block;
    height: 50px;

}

body{
    font-family: "RobotoCondensed-Regular", sans-serif;
    overflow-x: hidden;
}

/* it holds header and side menu */
.sofa-header{
    position: fixed;
    /* padding: 1em 0; */
    /* width: 100%;
    height: 100%; */
    max-width: 0%;
    max-height: 0%;
    z-index: 110;
    top: 0;
    left:0;
    padding: 0;
}

/* class to make margin zero */
.margin-to-zero{
    margin: 0;
}

/* margin for header text to make header itself taller */
.set-margin-for-header{
    margin: 0.3em;
}

/* header  */
.cas-menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-auto-rows: 23px; */
    position: relative;
    background-color: #00508c;
    margin: 0;
    /* its width should take all width of the browser window */
    width: 100vw;
    text-align: center;
    color: #fff;
    /* it is hold inside .sofa-header so ot is fixed and it is supposed to be above all elements */
    z-index: 9999;
    align-items: center;
    /* justify-content: space-around; */
}

/* the side menu */
.real-side-menu{
    width: 2em;
    align-items: center;
    letter-spacing: 0.01px;
    position: relative;
    background-color: #aaaaaa;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
    /* width: 3em; */
    float: left;
    text-align: center;
    height: 100vh;
    z-index: 9999;
    display: flow-root;
    /* align-items: center; */
    justify-content: space-between;
}

.sofa-header.affix {
    top: 0px;
    z-index: 9999 !important;
}
.hold-search{
    /* align-items: center */
}
/* search input */
.sofa-search{
    border-radius: 1em;
    width: 50%;
    color: #000;
}
/* the first item inside horizontal scroll menu is moved forwars outside button to scroll menu forward */
#item1{
    margin-left: 40px;
}
/* the last button is moved right outside button to move horizontal menu back */
#item9{
    margin-right: 40px;
}

.hold-pics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
}
#pic1{
    grid-column: 1;
}
#pic2{
    grid-column: 2;
}
#pic3{
    grid-column: 3;
}
#pic4{
    grid-column: 4;
}

.side-menu-buttons{
    font-size: 0.7em;
    /* width: 3em; */
    /* margin-left: -1.3em; */
    text-align: center;
    display: flow-root;
    margin-top: 1em;
}
.real-side-menu p{
       /* width: 3em; */
    /* margin-left: -1.3em; */
    margin: 0em 0;
}
/* the main content of the website */
.sofa-row{
    position: relative;
    margin-top: 3em;    
    width:100%;
    /* margin-top: 2.6em; */
    z-index: 100;
}
/* the grid to divide main sections */
.sofa-content{
    /* padding-left: 2.5em; */
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 16fr;
    grid-row-gap: 10px;
    /* margin-left: 1.5em; */
    /* float: right; */
}
/* it is probably should be depricated */
.empty_column{
    width: 3em;
    grid-column: 1;
}
.sofa-pics{
    grid-row: 1;
    grid-column: 2;
    /* margin: 0.5em 1em; */
}
/* the horizontal scroll menu */
.scroll-horiz{
    grid-row: 2;
    grid-column: 2;
    position: relative;
    height: 55px;
    overflow: hidden;
}
/* the main info in the website */
.hold-info{
    grid-row: 3;
    grid-column: 2;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}
/* the grid to divide info sections */
.the-info{
    display: grid;
    grid-template-columns: repeat(2, minmax(47vw,1fr));
}
/* the horizontal scroll menu button holder */
.sofa-horiz{
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    z-index: 40;
    width: 100%;
    bottom: 0;
    height: 55px;
}
/* buttons to scale text */
.resizeText{
    color: #fff;
}

.strange-pic{
    margin: 1em 0em;
}
/* if screen is small */
@media (max-width: 767px){


    /* put all content a little lower */
    .sofa-row {
        margin-top: 4em;
    }

    .strange-pic{
        margin: 5em 0em;
    }

    .hold-pics{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 10px;
    }
    #pic1{
        grid-column: 2;
        grid-row: 1;
    }
    #pic2{
        grid-column: 2;
        grid-row: 2;
    }
    #pic3{
        grid-column: 2;
        grid-row: 3;
    }
    #pic4{
        grid-column: 2;
        grid-row: 4;
    }

    .the-info{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 80vw;
    }
}
.sofa-horiz::-webkit-scrollbar { 
    display: none;
    overflow: -moz-scrollbars-none;
}
.menu-item{
    display: inline-flex;
    border-right: 1px solid #aaaa;
    word-wrap: break-word;
    height: 50px;
    /* overflow: hidden;
    text-overflow: ellipsis; */
    min-width: 270px;
    max-width: 270px;
    /* min-height: 160px;
    max-height: 160px; */
    align-items: center;
    background-color: rgb(253,253,253);
    border: 1px solid white;
}
.step-image{
    display: inline-block;
    max-width: 50px;
    max-height: 50px;
    /* margin-top:-37px; */
}
.choose-step{
    font-size: 1em;
    display: inline-block;
    word-wrap: break-word;
    min-width: 210px;
    max-width: 210px;
    white-space: initial;
    overflow: hidden;
    margin-bottom: 0px;
    float: right;
    font-family: "RobotoCondensed-Light";
    text-transform: uppercase;
    color: rgb(100,100,100);
}
_:-moz-tree-row(hover),.choose-step{
    margin-top:-2px;
}
.scrollbutton-holder{
    display: inline-block;
    position: absolute;
    z-index: 50; 
    width: 100%;
}
.scroll-forward{
    height: 85px;
    width:40px;
    /* margin-top: 0.5em; */
    position: absolute;
    background-color: #fff;
    float: right;
    right: 0;
    text-align: center;
    margin-right: -10px;
}
.scroll-back{
    height: 85px;
    width:40px;
    /* margin-top: 0.5em; */
    position: absolute;
    background-color: #fff;
    text-align: center;
    margin-left: -10px;
}
.scroll-forward:hover, .scroll-back:hover{
    cursor: pointer;
    text-decoration: none;
}
.scroll-forward h1, .scroll-back h1{
    height: 50px;
    transform: translateY(-50%);
    color: #00508c;
}

.description-text{
    border-bottom: 1px solid black;
    white-space: pre-line;
    color: #474747;
}
.step-need{
    white-space: pre-line;
}

.map-filler{
    background-color: rgba(200,200,200,1);
}
.step-header{
    
    color: #fff;
    background-color: #00508c;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto repeat(30,1fr) auto;
    grid-gap: 0.1em;
}
.step-img{
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    padding: 0;
    grid-column: 1;
    grid-row: 1;
}
.step-head{
    grid-column: 2;
    grid-row: 1;
    text-transform: uppercase;
}
.info-head{
    grid-column: 33;
    padding-right: 1em;
}

.step-description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
}
.info-of-step{
    grid-column: 1/3;  
    padding: 0.3em;
    overflow-y: scroll;
    background-color: whitesmoke;
}
.description-help{
    grid-column: 1/3;
    overflow-y: scroll;
}
.info-of-marker{
    grid-column: 2;
    overflow-y: scroll;
}

.sofa-address{
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    text-align: left;
    box-shadow: 0px 5px 5px whitesmoke;
    margin-top: 5px;
    grid-template-columns: 1fr 2fr 0.2fr;
}

.name-place{
    grid-column: 2;
    margin: 0;
    display: flex;
    align-self: flex-end;
    padding-top: 0.5em;
    
}

.img-place{
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    align-self:center;
    justify-self: center;
}

.address-name{
    grid-column: 2;
    font-size: 0.7em;
    margin: 0;
    display: flex;
    align-self: flex-start;
    padding-bottom: 0.5em;
}
.expand-button{
    grid-column: 3;
    grid-row: 2;
    font-size: 0.7em;
    margin: 0;

}
.marker-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}
.im-address{
    grid-column: 1;   
}
.address-info{
    grid-column: 2;
}
.div-to-make-flex-work{
    align-items: center;
    text-align: center;
}
.make-flex{
    display: flex;
    flex-flow: column;
}

.languages a:hover{
    cursor: pointer;
    text-decoration: none;
}
.languages{
    margin-top: 1em;
    /* width: 3em; */ 
    /* margin-left: -1em; */
    display: flex-root;
}
.textSize{
    /* width: 3em;  */
    align-self: center;
    margin-top: 1em;
    display: flex-root;
    /* margin-left: -1em; */
}

#map{
    /* width: 50vw; */
    height: 451px;
}

.hold-list-div{
    /* box-shadow: 0px 5px 5px #969696; */

}

.control-list-div{
    /* background-color : #fff; */
    color : rgb(25,25,25);
    font-family : 'Roboto,Arial,sans-serif';
    font-size : 16px;
    line-height : 38px;
    padding-left : 5px;
    padding-right : 5px;
}

.marker-btn{
    width: 100%;
    background-color: #fafafa;
    border: none;
    cursor: pointer;
}